@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";


/* Base font setup */
@layer base {
  body {
    font-family: 'Outfit', sans-serif;
  }
}


/* Animation */
@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fadeSlide 0.2s ease-in-out;
}